:root {
    --primary-font : 'Clash Display', sans-serif;
    --primary-color: #7f58e2
}

.font {
    font-family: var(--primary-font);
}


body {
    font-family: 'Nunito', sans-serif !important;
    font-weight: bold;
}